body{
    background: linear-gradient(to top left, #ba55d3, #7b68ee);
    height: 100%;
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	padding-bottom: 20px;
}
main{
	height: 100%;
	padding-bottom: 40px;
}
footer{
	width: 100%;
	padding-bottom: 20px;
}

/* ///////////////////////////////////////////////////// */

.logoimg{
	width: 80%;
	position: relative;
	left: 10%;
	top: 10px;
	width: 80%;
}

/* ///////////////////////////////////////////////////// */
.menu{
	position: relative;
	left: 10%;
	top: 10px;
	width: 80%;
}
.but{
    border: 0;
    border-radius: 5px;
    background: white;
    color: #7b68ee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 16px;
}
.but1{
    border: 0;
    border-radius: 5px;
    background-color: transparent; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 16px;
}
.vidosi{
	position: relative;
	left: 7.5%;
	top: 40px;
	width: 85%;
}
video{
	border-radius: 10px;
	height: 450px;
	width: 225px;
	border: white solid 10px;
	position: relative;
	left: 14%;
	background-color: white;
}


.textmain{
	padding: 5%;
	color: #7b68ee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
	background-color: white;
	text-align: justify;
	position: relative;
	left: 2.5%;
	top: 30px;
	width: 85%;
	border-radius: 10px;
}

p{
	text-align: center;
}
.intext{
	position: relative;
    right:  5%;
}
/* ///////////////////////////////////////////////////// */

.container{
   display: flex; 
   position: relative;
   left: 10%;
}
.textfot{
	position: relative;
	left: 10%;
	top: 10px;
	width: 80%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
	color: white;

}
.dino{
	width: 40%;
}
a{
	text-decoration: none;
	position: relative;
	left: 10%;
	top: 10px;
	width: 80%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
	color: white;
}
a img{
	width: 6%;
}

/* ///////////////////////////////////////////////////// */